.heading{
    margin: 10px auto;
    display: grid;
    grid-template-areas: 'App-title searchBar';
    grid-template-columns: 1fr 2fr;
    max-width: 90%;
    justify-content:start;
}

.App-title{
    grid-area: App-title;
    color: #413c69;
    font-size: 2rem;
}

.searchBar{
    grid-area: searchBar;
}

input[type=search]{
    height: 45px;
    width: 50%;
}

input[type=search]:focus{
    height:50px;
}




h1,h3{
    margin: 0;
    padding: 0;
}

h3{
    Color : #8ac4d0;
    font-size: 2rem;
}

p{
    margin: 0;
    padding: 0;
}



.main-container{
    margin: 10px auto;
    width : 40%;
}

.weather-container{
    grid-gap: 10px;
    padding-bottom: 5px;
    background-color :azure;
    min-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'grid-1 grid-2 grid-3'
                        'grid-4 grid-4 grid-4'
                        'grid-5 grid-5 grid-5'
                        'grid-6 grid-6 grid-6';
}



.grid-1{
    grid-area: grid-1;
}

.grid-2{
    grid-area: grid-2;
}

.grid-3{
    grid-area: grid-3;
}

.grid-4{
    grid-area:grid-4;
    display: flex;
    justify-content:space-evenly;
}

.grid-5{
    grid-area:grid-5;
    display: flex;
    justify-content:space-evenly;
}

.grid-6{
    grid-area:grid-6;
    display: flex;
    justify-content: space-evenly;
    
}

